*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: @color--bg;
  height: 100%;
  margin: 0;

}

html {
  font-family: @font--1;
  font-size: 100%;
  color: @color--text;
  -webkit-font-smoothing: antialiased;
}

.general {
  min-width: 320px;
  width: 100%;
  height: 100%;
  position: relative;
}
